.DS_Store

# Packer sensitive data
packer/variables.json

# Terrafor sensitive data
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

# Ansible sensitive data
*.gcp.yml

# Ansible temporary files
*.retry
